.App {
  text-align: center;
}

.social-logo {
  height: 6vmin;
  pointer-events: none;
  margin: 0.3vw;
}

.social {
  display: flex;
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.scroll {
  bottom: 25vh;
  position: absolute;
  font-size:4vh;
  cursor: pointer;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}