.navContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto
}

.navItem {
    color: #ba9449;
    margin: 1.5vw;
    font-size: 1.9vh;
}

.navItem:hover {
    color: #ffffff;
    cursor: pointer;
}